

.icon_fontawesome_popup {display:none;max-width:80%;background:#fff; padding:10px; border-radius:10px;}
.icon_fontawesome_popup .col-xs-1 {width:35px; padding:5px 0;text-align:center;}
.icon_fontawesome_popup i{padding:5px;font-size:18px !important;color:#555;cursor:pointer;border:solid 1px transparent;border-radius:2px;}
.icon_fontawesome_popup i:hover{color:#4FC605;border:solid 1px #ccc}
span.icon_open {display:block;float:left;text-align:center;font-weight:400 !important;color:#444 !important;cursor:pointer;text-shadow:0 1px 0 rgba(255, 255, 255, 1);min-width:85px;max-width:150px;margin:0 5px 0 0;padding:5px;line-height:28px;background:#eee;border:solid 1px #aaa;border-radius:4px;}
span.icon_open:hover {background:#ddd;}
span.icon_open i {vertical-align:middle;font-size:20px;color:#4FC605;}
span.icon_open + input + input {width:260px !important;}
.cod-product {
	margin-left:50px;
}
.name-product {
	font-size:14px;
}
.image-product {
	float:left;
}
.martb {
	margin:5px 0px;
}
.hide-radio {
	display:none;
}
.checkbox-group-qa label {margin-bottom:0px;}
.checkbox-group-qa {
	background-color: white;
	background-image: linear-gradient(to bottom, #eeeeee, white 25px);
	border-radius: 20px / 20px;
	box-shadow: 0 -1px white inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	display: inline-block;
	padding: 3px;
}
.checkbox-group-qa input[type="checkbox"] {display:none}
.checkbox-group-qa input[type="checkbox"] + span {
position:relative;
display:inline-block;
vertical-align:middle;
width:50px;
height:23px;
background:#ECEEEF;
border-radius:20px / 20px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
cursor:pointer;
transition:all ease-in-out .2s;}
.checkbox-group-qa input[type="checkbox"]:checked + span {background:#3F95C0;}

.checkbox-group-qa label:hover input[type="checkbox"] + span {background:#ECEEEF;}
.checkbox-group-qa label:hover input[type="checkbox"]:checked + span {background:#3F95C0;}

.checkbox-group-qa input[type="checkbox"] + span:after {position:absolute;left:auto;top:3px;right:3px;width:17px;height:17px;content:'';background:#fff;border-radius:100%;box-shadow:0 1px 1px #777;transition:all ease-in-out .2s;}
.checkbox-group-qa input[type="checkbox"]:checked + span:after {left:3px;right:auto;background:#fff;transition:all ease-in-out .2s;}

.title-fields {
  color: orange !important;
  font-size: 16px;
  text-align: right;
}