a {
  color: #8b5f3c; }

a:hover {
  color: #5f3616; }

.btn-login {
  background-color: #8b5f3c;
  border-color: #8b5f3c; }

.btn-login:hover, .btn-login:active {
  background-color: #5f3616;
  border-color: #5f3616; }

.wall-category-box .item-category .wall-cat-name:hover a {
  color: #5f3616; }

.wall-category-box .item-category:hover {
  border: 1px solid #5f3616; }

.wall-category-box .item-sub-category .subcategory-name a:hover {
  color: #5f3616; }

.wall-category-box .item-sub-category.active-sub-menu .subcategory-name a:hover {
  color: #5f3616; }

.nswc-scrollbar.active .nswc-thumb {
  background-color: #8b5f3c; }

.pop-qv-next-prev #qv_next_prod span.icon-next, .pop-qv-next-prev #qv_prev_prod span.icon-prev {
  color: #8b5f3c;
  fill: #8b5f3c; }

.pop-qv-next-prev .btn-prev-next:hover {
  border-color: #8b5f3c;
  background-color: #8b5f3c; }

.contact-header .dropdown-menu.drop-contacts > li > a:hover, .box-question.open .dropdown-menu.dropdown-menu-left > li > a:hover, .box-account .dropdown-menu.dropdown-menu-right > li > a:hover, #language .dropdown-menu > li > a:hover, #top #currency .currency-select:hover {
  color: #5f3616; }

.btn-primary {
  background-color: #8b5f3c;
  border-color: #8b5f3c; }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #5f3616;
  border-color: #5f3616; }

.menu-header-box {
  background: #8b5f3c; }

.btn-menu {
  background-color: #5f3616; }
.h-type-2 .btn-menu {
  background-color: #8b5f3c;
}
#menu #menu-list > li > a:hover, #menu #menu-list > li > a.hover, #menu #menu-list > li > a.parent-link:hover, #menu #menu-list > li > a.parent-link.hover {
  border-left: 3px solid #8b5f3c; }

#horizontal-menu {
  background-color: #8b5f3c; }
#horizontal-menu.full-width-m .navbar-header {background-color:#8b5f3c;}
#horizontal-menu li.dropdown.open:hover {
  background: #8b5f3c; }

#horizontal-menu .btn-navbar:hover, #horizontal-menu .btn-navbar:focus, #horizontal-menu .btn-navbar:active, #horizontal-menu .btn-navbar.disabled, #horizontal-menu .btn-navbar[disabled] {
  background-color: #707070; }

#horizontal-menu .btn-navbar {
  background-color: #757575; }

#menu.open-mob .btn-menu, #menu.open .btn-menu, .btn-menu:hover, .btn-menu:focus, .btn-menu.focus, .btn-menu:active, .btn-menu.active, .btn-menu.disabled, .btn-menu[disabled] {
  background-color: #5f3616;
  border-color: #5f3616; }

.btn-general {
  color: #8b5f3c;
  border-color: #8b5f3c;
  border-bottom: 2px solid #8b5f3c; }

#product .btn-general {
  background-color: #8b5f3c;
  border-color: #8b5f3c; }

.product-price .product-thumb:hover .btn-general, .product-list .product-thumb:hover .btn-general, .product-grid .product-thumb:hover .btn-general, .container-module-productany .product-thumb:hover .btn-general, .container-module .product-thumb:hover .btn-general {
  background-color: #8b5f3c;
  border-color: #8b5f3c; }

.btn-general:hover, .btn-general:active {
  background-color: #5f3616 !important;
  border-color: #5f3616 !important; }

.btn-fastorder {
  color: #757575;
  border-color: #757575;
  border-bottom: 2px solid #757575; }

.btn-fastorder:hover, .btn-fastorder:focus, .btn-fastorder.focus {
  border-color: #757575;
  background-color: #757575;
  color: #fff; }

.btn-wishlist {
  color: #757575;
  border-color: #757575;
  border-bottom: 2px solid #757575; }

.btn-wishlist:hover {
  border-color: #757575;
  background-color: #757575;
  color: #fff; }

.btn-compare {
  color: #757575;
  border-color: #757575;
  border-bottom: 2px solid #757575; }

.btn-compare:hover {
  border-bottom: 2px solid #757575;
  background-color: #757575;
  color: #fff; }

#product .quantity-adder .add-action, .quantity_plus_minus .quantity-btn .add-action {
  color: #757575;
  background: #f5f5f5; }

#product .quantity-adder .add-action:hover, .quantity_plus_minus .quantity-btn .add-action:hover {
  background: #757575;
  color: #fff;
  border-color: #757575; }

footer .footer-top {
  background-color: #f5f5f5; }

footer a {
  color: #757575; }

.box-heading {
  background-color: #8b5f3c;
  border: 1px solid #8b5f3c; }

.container-accordion-menu .parent-category.active > a {
  color: #5f3616; }

.container-accordion-menu .parent-link:hover, .container-accordion-menu .parent-link:hover .arrow, .container-accordion-menu .parent-link.hover, .container-accordion-menu .parent-link.hover .arrow {
  color: #5f3616; }

.container-accordion-menu .sub-category-link:hover, .container-accordion-menu .sub-category-link:hover .arrow {
  color: #5f3616; }

.container-accordion-menu .child_children_link > a:hover {
  color: #5f3616; }

.btn-checkout {
  background-color: #8b5f3c;
  border: 2px solid #8b5f3c; }

.btn-checkout:hover, .btn-checkout:active {
  color: #8b5f3c; }

.btn-shopping {
  color: #8b5f3c;
  border: 2px solid #8b5f3c; }

.btn-shopping:hover, .btn-shopping:active {
  background-color: #8b5f3c; }

footer a:hover {
  color: #5f3616; }

body.fixed-top-header .m-fix-btn, #top-fixed.fixed-top-header .m-fix-btn {
  background: #f5f5f5; }

body.fixed-top-header .m-fix-btn i, #top-fixed.fixed-top-header .m-fix-btn i {
  color: #757575; }

body.fixed-top-header .m-fix-btn.rotate-icon i, #top-fixed.fixed-top-header .m-fix-btn.rotate-icon i {
  color: #8b5f3c; }

body.fixed-top-header .m-fix-btn:hover i, #top-fixed.fixed-top-header .m-fix-btn:hover i {
  color: #8b5f3c; }

.dropdown-menu li > a:hover, .dropdown-menu li > a.active, .dropdown-menu li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #757575; }

footer.type-footer-1 .btn-newsletter:hover, footer.type-footer-1 .btn-newsletter:active, footer.type-footer-1 .btn-newsletter,
footer.type-footer-2 .btn-newsletter:hover, footer.type-footer-2 .btn-newsletter:active, footer.type-footer-2 .btn-newsletter{background:#5f3616;border-color: #5f3616;box-shadow: none;}
footer.type-footer-2 .icon-newsletter i {color: #8b5f3c;}
footer.type-footer-1 .btn-newsletter {background: #8b5f3c;border-color: #8b5f3c;}
footer.type-footer-2 .btn-newsletter {background: #8b5f3c;border-color: #8b5f3c;}
.btn-menu .fa-angle-down.arrow {
  opacity: 0.7; }

#additional-menu li.dropdown:hover {
  background: #8b5f3c; }

#additional-menu .nav > li > a i {
  opacity: 0.7; }

.btn-search:hover, .btn-search:active {
  border: 1px solid #5f3616;
  background-color: #5f3616;
  box-shadow: none; }

.btn-search {
  background-color: #8b5f3c;
  border: 1px solid #8b5f3c; }

.btn-wishlist-h, .btn-compare-h {
  color: #757575; }

.type_cart #cart > .btn > .shop-bag {
  color: #757575; }

.type_cart #cart > .btn .shop-bag:hover, .btn-wishlist-h:hover, .btn-compare-h:hover {
  color: #444; }

#wishlist-total span, #compare-total span, .type_cart #cart > .btn .cart-total .products b {
  color: #000;
  background: #f5f5f5; }

#top .btn-link, #top-links li, #top-links a {
  color: #444; }

#top .btn-link:hover, #top-links a:hover {
  color: #000; }

.price {
  color: #000; }

.product-thumb .quantity-reviews {
  background: #6b6b6f; }

.product-thumb .quantity-reviews a {
  color: #fff; }

.product-thumb .quantity-reviews:after {
  border-color: rgba(136, 183, 213, 0) #6b6b6f rgba(136, 183, 213, 0) rgba(136, 183, 213, 0); }

.btn-scroll-top {
  border: 1px solid #757575;
  color: #fff;
  background: #757575; }

.btn-scroll-top:hover, .btn-scroll-top:active, .btn-scroll-top:focus {
  border: 1px solid #707070;
  color: #fff;
  background: #707070; }

#top-fixed-mobile .btn.btn-menu-mobile {
  background: #8b5f3c; }

#menu-mobile-ns .navbar-nav > li > button > i {
  background: #8b5f3c; }

.mob-block-close {
  background: #8b5f3c; }

.btn-quickview {
  background-color: #8b5f3c;
  border-color: #8b5f3c;
  border-bottom: 2px solid #8b5f3c; }

.container-module .title-module:after, .container-module-productany .title-module:after, .categorywall-container .title-module:after {
  border-bottom: 2px solid #8b5f3c; }

.box-showmore span > span {
  background: #8b5f3c;
  border: 1px solid #8b5f3c; }

.box-showmore span > span:hover {
  background: #8b5f3c;
  border: 1px solid #8b5f3c; }

.container-module .see-all-reviews {
  color: #8b5f3c; }

.my-tabs.nav-tabs > li.active > a, .my-tabs.nav-tabs > li.active > a:focus, .my-tabs.nav-tabs > li.active > a:hover {
  color: #8b5f3c;
  border-bottom: 1px solid #8b5f3c; }

.my-tabs.nav > li > a:focus, .my-tabs.nav > li > a:hover {
  color: #8b5f3c;
  border-bottom: 1px solid #8b5f3c; }

.my-tabs > li a:hover, .my-tabs > li.active a {
  border-bottom: 1px solid #8b5f3c;
  color: #8b5f3c; }

.my-tabs > li a:hover:before, .my-tabs > li.active a:before {
  border-top-color: #8b5f3c; }

.thumbnails .image-additional .btn-slick-prev-v:hover svg, .thumbnails .image-additional .btn-slick-next-v:hover svg {fill:#8b5f3c}
.thumbnails .image-additional .btn-slick-prev-h:hover svg, .thumbnails .image-additional .btn-slick-next-h:hover svg {fill:#8b5f3c}
.thumbnails .image-additional .slick-current .thumbnail,.thumbnails .image-additional .thumbnail:hover {border-color: #8b5f3c;}
.btn-slick-prev-mainimg:hover svg, .btn-slick-next-mainimg:hover svg {fill:#8b5f3c;}
.thumb-gallery .btn-slick-prev:hover svg, .thumb-gallery .btn-slick-next:hover svg {fill:#8b5f3c;}
.thumb-gallery .slick-current .thumbnail,.thumb-gallery .thumbnail:hover {border-color: #8b5f3c;}


.box-fcat .fcat-img.active img {
  border: 4px solid #8b5f3c; }

.localstorage .btn.active {
  background: #8b5f3c;
  border: 1px solid #8b5f3c; }

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #8b5f3c; }

#bar {
  background: #8b5f3c; }

.pagination > li > a, .pagination > li > span {
  color: #757575;
  background-color: #fff;
  border: 1px solid #757575; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #757575;
  background-color: #eee;
  border-color: #757575; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  color: #fff;
  background-color: #757575;
  border-color: #757575; }

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #777;
  background-color: #fff;
  border-color: #757575; }
