.m-fix-btn {
	display:none;
}

/*Change*/

.cont-mw {border-radius: 5px;}
#top-fixed .cont-mw {border-radius: 0px 0px 5px 5px;}
.cont-mw .btn-menu {border-radius: 5px 0px 0px 5px !important;}
.cont-mw.h-type-2 .btn-menu {margin-left: 10px !important;}
.menu-header-box.h-type-2  {
  background: #3f4e5d;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  margin-bottom: 10px;
  height: 52px;
}
.h-type-2 .box-account {position:relative;}
.h-type-2 .btn-account-menu{
color:#fff;
display: flex;
align-items: center;
cursor:pointer;
font-size: 12px;
white-space: nowrap;
line-height: 1.2;
padding: 0px 10px;
height: 52px
}
.h-type-2 .btn-account-menu i {font-size: 28px;color: #fff;padding-right: 10px;}
.h-type-2 .btn-account-menu .name-auth {max-width:120px;overflow:hidden;text-overflow:ellipsis;color: #fff;display: block;border-bottom: 1px dashed #fff;}
.h-type-2 .btn-account-menu:hover {background: #364555;}


.btn-menu .fa-angle-down.arrow {float: right;opacity: 1 !important;font-size:16px;margin-top: 2px;}

.h-type-2 .pl-0 {padding-left: 0px;}

.h-type-2 #search {padding-top: 0px;}
.h-type-2 #search .dropdown-menu.autosearch {left:0px;margin-top: 0px;}
.h-type-2 #search .input-lg {color:#fff;font-size:14px;height:38px;border-radius: 4px 0px 0px 4px;background: #5c6875;border:0px;transition: all 0.1s}
.h-type-2 #search .input-lg:focus{color:#364555;background:#fff;border-bottom-left-radius:0px;}
.h-type-2 #search .input-lg::placeholder {color: #fff;}
.h-type-2 #search .categories {
  border: 0px;
  height: 38px;
  background: transparent;
  border-left:1px solid #3f4e5d;
}

.h-type-2 .btn-search-select {font-size:14px;border-radius:0px;border:0px;height: 38px;background:#5c6875;color:#fff;}
.h-type-2 #search_word {display: none;}

.h-type-2 #search .button_search {border:0px;background: transparent;}
.h-type-2 .btn-search {height: 38px;border-radius: 0px 4px 4px 0px;border:0px;}
.h-type-2 .box-search {padding-top:7px;}
.h-type-2 .hc-off .btn-search {border-radius: 0px 4px 4px 0px !important;}

.h-type-2 .dflex .box-search {padding-left: 0px;padding-right: 5px;flex:0 1 100%;}

.h-type-2 .box-cart {
 justify-content: flex-end;
 padding-right: 0px;
}
.h-type-2 #wishlist-total span, .h-type-2 #compare-total span, .h-type-2 .type_cart #cart > .btn .cart-total .products b {
	top: 5px;
}

.h-type-2 .compare-h, .h-type-2 .wishlist-h,.h-type-2 .shopping-cart {
  text-align: center;
  margin-right: 0px;
  width: 52px;
  height: 52px;
}
.h-type-2 .type_cart #cart > .btn > .shop-bag,
.h-type-2 .btn-compare-h i, .h-type-2 .btn-wishlist-h i {
  color: #fff !important;
  float: none;
  line-height: 38px;
}

.h-type-2 .type_cart #cart > .btn {
  padding: 7px;
}
.h-type-2 #wishlist-total span, .h-type-2 #compare-total span, .h-type-2 .type_cart #cart > .btn .cart-total .products b {
  top:5px;
  border-radius: 50px;
}
.h-type-2 .compare-h:hover, .h-type-2 .wishlist-h:hover,.h-type-2 .shopping-cart:hover {
  background: #364555;
}

@media (min-width: 992px) {
.h-type-2 .btn-menu {height: 38px;margin: 7px auto !important; border-radius: 4px !important;}
.h-type-2 .dflex .box-cart {flex:1;}
}

@media (min-width:1200px) {
  .h-type-2 .box-cart {width: 16.66666667%; margin-bottom: 0px;}
}

@media (max-width: 992px) {
	.h-type-2 #top-fixed-mobile .compare-h, .h-type-2 #top-fixed-mobile .wishlist-h, .h-type-2 #top-fixed-mobile .shopping-cart {
		 width: 40px;
		 height: 40px;
	}
	.h-type-2 #top-fixed-mobile .compare-h:hover, .h-type-2 #top-fixed-mobile .wishlist-h:hover, .h-type-2 #top-fixed-mobile .shopping-cart:hover {
		background: transparent;
	}
  .menu-header-box.h-type-2 {position:relative;}
  .h-type-2 #menu {position: relative;}
  .h-type-2 #menu-list {width: 400px !important;}
  .h-type-2 .menu-box {
    width: 70px;
    float:left;
  }
  .r-h-box {
    width: calc(100% - 70px);
  }
  .dop-menu-header {margin: 5px 0px;}
  .h-type-2 #menu .btn-menu {height: 52px;}
  .h-type-2 #searchtop {width: 100%;}
  .h-type-2 .btn-account-menu i {padding-right: 0px;}
}
@media (max-width: 768px) {
  .h-type-2 .menu-box,
  .h-type-2 #menu {position: unset;}
  .h-type-2 #menu-list {
    left: 10px;
    right: 10px;
    width: calc(100% - 20px) !important;
  }
  .h-type-2 .box-search {display: none;}
  .r-h-box {position: unset;}
  .h-type-2 .box-search {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0px;
  background: #fff;
  padding: 7px 10px 7px 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  z-index: 9;
}

.h-type-2 #search .input-lg:focus{
-webkit-box-shadow: inset 0px 0px 2px rgb(92, 104, 117,0.7);
  box-shadow: inset 0px 0px 2px rgb(92, 104, 117,0.7);
}
  .menu-header-box.h-type-2 {height: 44px}
  .h-type-2 .search-mob-box i {font-size: 24px;color: #fff;line-height:44px;width: 44px;}
  .h-type-2 .btn-account-menu i {font-size: 24px;}
  .h-type-2 .btn-account-menu {height: 44px;}
  .h-type-2 .dflex .box-search {padding-left: 10px;padding-right: 10px;z-index:100;}
  .h-type-2 #menu .btn-menu {
    height: 44px !important;
  }
  #wishlist-total, #compare-total {
    height: 100%;
    padding: 0px;
    line-height: 44px;
    width: 44px;
  }
  .h-type-2 .compare-h, .h-type-2 .wishlist-h,.h-type-2 .shopping-cart {
    height: 44px;
    width: 44px;
  }
  .h-type-2 .type_cart #cart > .btn > .shop-bag, .h-type-2 .btn-compare-h i, .h-type-2 .btn-wishlist-h i {
    line-height: 44px;
    font-size: 24px;
  }
  .h-type-2 .type_cart #cart > .btn {padding: 0px;}
  .h-type-2 .phone-box {margin-bottom: 10px;}
  .h-type-2 #phone {
    justify-content:center !important;
  }
  .h-type-2.pad-top #logo img {margin: 0 auto;}
  .h-type-2 .pl-0 {padding-right: 0px;}
  .h-type-2 #searchtop {width: 100%}
  .h-type-2 .box-cart {
    justify-content: flex-end;
    flex:0;
    padding-right: 5px;
  }
  .search-mob-box {
    text-align: right;
    text-align: center;
    margin-left: auto;
    width: 44px;
  }
  .h-type-2.hide-box-menu {background:transparent;height: 0px;}
  .h-type-2.hide-box-menu .r-h-box {display: none;}
}
/*END Change*/












#top-fixed.fixed-top-header header .vertical-align {
	padding:0px 0px 3px 0px;
	height:50px;
}
#top-fixed .box-cart {margin-bottom: -5px;}
#top-fixed.fixed-top-header #phone .drop-contacts {
	margin-top:8px;
}

#top-fixed.fixed-top-header #phone .contact-header {
	font-size: 16px;
	line-height: 16px;
}
#top-fixed.fixed-top-header #phone .dropdown-toggle {
	padding:0px;
}

#top-fixed.fixed-top-header #phone .text_after_phone {display:none;}
#top-fixed.fixed-top-header #phone .additional-tel{display:none;}
#top-fixed.fixed-top-header #phone .additional-tel:nth-child(1){display:block;}
#top-fixed.fixed-top-header #phone .additional-tel:nth-child(2){display:block;}
#top-fixed.fixed-top-header #phone {
	padding:0px;
}

#top-fixed.fixed-top-header .m-fix-btn i {
	font-size:30px;
	color:#6d6d6d;
}
#top-fixed.fixed-top-header .m-fix-btn:hover i {
	color:#43b02a;
}
#top-fixed.fixed-top-header .m-fix-btn.rotate-icon i {
	font-size:30px;
	color:#43b02a;
	transform:rotate(-90deg);
}
#top-fixed.fixed-top-header .m-fix-btn {
	display: inline-block;
	position: absolute;
	background: #f5f5f5;
	width: 45px;
	height: 40px;
	text-align: center;
	line-height: 52px;
	top: 4px;
	left:8px;
	cursor:pointer;
	z-index:1;
}
#top-fixed.fixed-top-header #logo img {
	margin-left:auto;
	margin-right:auto;
	max-height:40px;
}
#top-fixed.fixed-top-header #logo {
	padding:4px 0px 0px 50px;
}

#top-fixed.fixed-top-header .pt20{padding-top:3px;}
#top-fixed.fixed-top-header.h-type-2 .pt20 {padding-top: 0px;}
#top-fixed.fixed-top-header #search_word {
	display:none;
}
#top-fixed.fixed-top-header {
	left: 0 ;
	margin: 0 ;
	padding:0px;
	position: fixed ;
	top:0;
	width: 100% ;
	z-index: 1040;
	background:#fff;
	box-shadow:0 5px 5px rgba(0, 0, 0, 0.15);
	transition:all 600ms ease-in-out 0s;
}
#top-fixed.h-type-2.hmenu_type-0 {background: transparent;box-shadow: none;}
#top-fixed.fixed-top-header .menu-header-box {
	display:none;
	top:-100%;
}
@media (min-width: 992px) {
#top-fixed.fixed-top-header.h-type-2 .menu-header-box {
	display:block;
}
#top-fixed.fixed-top-header.h-type-2 .menu-header-box.h-type-2 {
margin-bottom: 0px;
}
}
#top-fixed.fixed-top-header.open-fix-mm .menu-header-box {
	display:block;
	top:0;
	transition:all 600ms ease-in-out 0s;
}
#top-fixed.fixed-top-header.open-fix-mm .menu-header-box .nsmenu-block {
	display:none;
}
#top-fixed.fixed-top-header.open-fix-mm .menu-header-box{
	margin-bottom:0px;
}
#additional-menu {
	margin-bottom:0px;
	min-height:40px;
}

#additional-menu .navbar-nav {float:none;display:table;width:100%;text-align: center;}/*add change*/
#additional-menu .navbar-nav > li {float:none;display:table-cell;}/*add change*/

#additional-menu .navbar-nav > .arrow {color:#fff;padding-left:3px;}
#additional-menu .nsmenu-type-category-simple .arrow{
	color: #333;
	line-height: 20px;
	float: right;
	font-size: 18px;
	padding-left:3px;
	-webkit-transition: 0.3s ease 0s;
	-moz-transition: 0.3s ease 0s;
	-ms-transition: 0.3s ease 0s;
	-o-transition: 0.3s ease 0s;
	transition: 0.3s ease 0s;
}
#additional-menu .nsmenu-type-category-simple a:hover .arrow{
	transform:rotate(-90deg);
	color: #379424;
}
#additional-menu .nav > li:hover > a,
#additional-menu .nav > li.open > a {color:#fff;}
#additional-menu .nav > li.open:before,
#additional-menu .nav > li:hover:before {
	position: absolute;
	bottom: 0%;
	margin:0 auto;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
	left:0;
	right:5px;
}
#additional-menu .nav > li:hover:before,
#additional-menu .nav > li.open:before{border-width: 11px;border-bottom-color: #fff;}
#additional-menu .dropdown-menu {border-top:0px;}
#additional-menu .cat-label{
	font-size:10px;
	text-shadow:2px 3px 3px rgba(0, 0, 0, 0.25);
	font-weight: 600;
	border-radius: 2px;
	line-height: 1;
	padding:3px;
	right: 10px;
	top: -2px;
	z-index: 1;
	position: absolute;
	text-transform: uppercase;
}
#additional-menu .container {position:relative;padding-bottom:0px;}
#additional-menu.navbar {border-radius:0;border:0px;margin-left: -10px;}

.dop-menu-header #additional-menu {min-height: 25px;}
.dop-menu-header #additional-menu .nav > li > a {
	color:#333;
	transition: .2s;
    padding-bottom: 3px;
}
.dop-menu-header #additional-menu .nav > li > a:hover {
	color:#ff8637;
}
.dop-menu-header #additional-menu .navbar-nav {
	display: block;
}
.dop-menu-header #additional-menu .cat-label {
	top: -9px;
}
.dop-menu-header #additional-menu li.dropdown:hover {
 background: transparent;
}
.dop-menu-header #additional-menu .nav > li > a {
	line-height: 26px;
}
.dop-menu-header #additional-menu .navbar-nav > li {
	float:left;
}
@media (min-width: 768px) {
.dop-menu-header #additional-menu .navbar-nav > li {
	float: none;
	display: inline-block;
}
}
#additional-menu .nav > li > a {
	color: #fff;
	padding: 0px 10px;
	line-height: 40px;
	background-color: transparent;
	font-size:14px; /*change*/
}
#additional-menu .dropdown-menu {padding-bottom: 0;}
#additional-menu .showmore-c {position: absolute;bottom: 0;left: 3px;right:0px;text-align:left;}
#additional-menu .showmore-c a {font-weight: 600;padding:0px;}
#additional-menu .mbflex {display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;align-items: center;justify-content: left;text-align:left;}
#additional-menu .showmore-c a:hover {color:#379424 !important;}
#additional-menu .dropdown-menu a {
	display: block;
	padding: 4px 12px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 14px;
}

#additional-menu .dropdown-menu li a:hover {
	color: #379424;
	background:transparent;
	text-decoration:underline;
}

#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li {position: unset;}
#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li ul {display: none !important;}

#additional-menu .nsmenu-type-information,
#additional-menu .nsmenu-type-category-simple {
    min-width: 190px;
   max-width: 240px;
   width:100%;
   padding-top: 0px;
}
#additional-menu .nsmenu-type-information li a:hover,
#additional-menu .nsmenu-type-category-simple li a:hover {
  text-decoration: none;
  background:#f5f5f5;
}

#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li {list-style: none !important;}
#additional-menu .nsmenu-type-information ul.nsmenu-haschild li a,
#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li a{
    padding: 6px 8px;
    white-space: normal;
    position: relative;
    display: block;
    color: #333;
}
#additional-menu .nsmenu-type-information ul.nsmenu-haschild li + li,
#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li + li {
    border-top:1px solid #e7e7e7;
}

#additional-menu .nsmenu-type-category-simple ul.nsmenu-haschild li:hover > ul {
	display: block !important;
	position: absolute !important;
	top: 0 !important;
	left:100%;
}
#additional-menu .nsmenu-type-category-simple .nsmenu-ischild {
	display: none;
	background: #fff;
	position: absolute;
	left: 100%;
	top: 0;
	padding-top:0px;
	min-height: calc(100% - 1px);
	border: 1px solid #e7e7e7;
	border-radius: 0px;
	padding: 0;
	margin-top: 0px;
	margin-left: 0px;
	box-sizing: content-box;
	z-index:1001;
	width: 100%;
}
#additional-menu .nsmenu-type-product .nsmenu-parent-block {
text-align:center;
margin-top: 10px;
margin-bottom: 20px;
vertical-align: top;
}
#additional-menu .nsmenu-type-manufacturer .nsmenu-parent-block {
text-align:center;
margin-top: 10px;
margin-bottom: 20px;
vertical-align: top;
}
#additional-menu .nsmenu-type-manufacturer .name-manuf-a {
	font-size:16px;
	color:#000000;
}
#additional-menu .nsmenu-type-manufacturer .manuf-res a {
	display:inline-block;
	font-size:12px;
	color:#000000;
}
#additional-menu .nsmenu-type-category-full .col-sm-9 .col-lg-1-5,
#additional-menu .nsmenu-type-category-full-image .col-sm-9 .col-lg-1-5 {
	width:25%;
}
#additional-menu .nsmenu-type-category-full .nsmenu-parent-block,
#additional-menu .nsmenu-type-category-full-image .nsmenu-parent-block {
padding-bottom: 18px;
margin-top: 10px;
margin-bottom: 0px;
}
#additional-menu .nsmenu-type-product .nsmenu-parent-title {
  display: block;
  padding: 5px;
  text-decoration: none;
}
#additional-menu .nsmenu-type-manufacturer .nsmenu-parent-title {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
}
#additional-menu .nsmenu-type-manufacturer .nsmenu-parent-img img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ececec;
  border-radius: 3px;
}
#additional-menu .nsmenu-type-product .nsmenu-parent-img img {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
}
#additional-menu .nsmenu-type-manufacturer a:hover,
#additional-menu .nsmenu-type-product a:hover{
background:none !important;
color:#333 !important;
}

#additional-menu .nsmenu-type-category-full .nsmenu-parent-title {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
  position:relative;
}
#additional-menu .nsmenu-type-category-full .nsmenu-ischild li ,
#additional-menu .nsmenu-type-category-full-image .nsmenu-ischild li  {
	display:block;
	position:relative;
}
#additional-menu .nsmenu-type-category-full ul,
#additional-menu .nsmenu-type-category-full-image ul {
	padding:5px;
}
#additional-menu .nsmenu-type-category-full ul li a,
#additional-menu .nsmenu-type-category-full-image ul li a {
	padding:0px;
}
#additional-menu .nsmenu-type-category-full-image .nsmenu-parent-title:hover {
  text-decoration: underline;
}
#additional-menu .nsmenu-type-category-full-image .nsmenu-parent-title {
  display: block;
  padding: 5px;
  text-decoration: none;
  position:relative;
}

#additional-menu .nsmenu-type-category-full-image .nsmenu-parent-img img {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
}
#additional-menu .nsmenu-type-category-full a:hover,
#additional-menu .nsmenu-type-category-full-image a:hover {
color:#333 !important;
background:none !important;
}
#additional-menu .nsmenu-type-manufacturer a.nsmenu-parent-title:hover,
#additional-menu .nsmenu-type-product a.nsmenu-parent-title:hover,
#additional-menu .nsmenu-type-category-full .nsmenu-ischild a:hover,
#additional-menu .nsmenu-type-category-full-image .nsmenu-ischild a:hover{
text-decoration:underline;
}
#additional-menu .nsmenu-type-product a.nsmenu-parent-img,
#additional-menu .nsmenu-type-manufacturer a.nsmenu-parent-img{
padding:0 !important;
}
#additional-menu .nsmenu-type-category-full-image a.nsmenu-parent-img{
padding:0 !important;
text-align:center;
}
#additional-menu .dropdown.open .dropdown-menu {
	opacity: 1;
	visibility: visible;
	transition: all 500ms;
	display:block;
}
#additional-menu .nsmenu-type-category-simple,
#additional-menu .nsmenu-type-category-full,
#additional-menu .nsmenu-type-category-full-image,
#additional-menu .nsmenu-type-manufacturer,
#additional-menu .nsmenu-type-product,
#additional-menu .nsmenu-type-information{
	margin-top:0px;
	display:none;
	opacity:0;
	visibility: hidden;
}
#additional-menu .nsmenu-type-category-full-image .nsmenu-parent-title{
font-weight: 600;
text-align:left;
}
#additional-menu .nsmenu-type-html{padding:5px;}
#additional-menu .nsmenu-type-product .price{font-size:12px;}
#additional-menu .nsmenu-type-product .price .price-old{
  color: #666;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: line-through;
}
#additional-menu .nsmenu-type-product .price .price-new{
  color: #e55b4c;
  font-size: 14px;
}
#additional-menu .menu-add-html{
	overflow: hidden;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
}
#additional-menu .menu-add-html img{max-width:100%;}
#additional-menu .nsmenu-thumb { float: left; margin: -4px 5px -2px 0; }
#additional-menu .nav > li:hover > a .pitem-icon,
#additional-menu .nav > li > a .hitem-icon{display:none;}
#additional-menu .nav > li > a .pitem-icon,
#additional-menu .nav > li:hover > a .hitem-icon{display:block;}
#additional-menu .dropdown-img{display:inline-block;}
#additional-menu li.dropdown:hover{z-index: 1039;}
#additional-menu li.dropdown:hover {background:#43b02a;}
#additional-menu + #maskMenuDop{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.3);
	z-index: 1038;
}
#additional-menu + #maskMenuDop.open{display:block;}
#menu-list .nsmenu-thumb {
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -13px;
}
#menu #menu-list > li:hover > a .pitem-icon,
#menu #menu-list > li > a .hitem-icon{display:none;}
#menu #menu-list > li > a .pitem-icon,
#menu #menu-list > li:hover > a .hitem-icon{display:block}
#menu .dropdown-menu li > a:focus,
#menu .dropdown-menu li > a:hover {
	text-decoration: none;
	color: #333;
	background:transparent;
}
#menu #menu-list .ns-dd.open {display:block;}
#menu .dropdown-menu li > a:hover .cat-label{
	opacity:0;
	-webkit-transition: transform 0.2s ease 0s;
	-moz-transition: transform 0.2s ease 0s;
	-ms-transition: transform 0.2s ease 0s;
	-o-transition: transform 0.2s ease 0s;
	transition: transform 0.2s ease 0s;
}
#menu .cat-label{
	font-size:10px;
	text-shadow:2px 3px 3px rgba(0, 0, 0, 0.25);
	font-weight: 600;
	border-radius: 2px;
	line-height: 1;
	padding:3px;
	right: 10px;
	top: 1px;
	z-index: 1;
	position: absolute;
	text-transform: uppercase;
}
#menu {
	border-radius: 0px;
	margin-bottom: 0px;
	z-index: 888;
}
#menu a{
	text-decoration: none;
	color:#333;
	font-size:14px;
}
.btn-menu {
	z-index: 3;
	font-size:16px !important;
	text-align: left;
	color: #ffffff;
	text-shadow: none;
	border-radius: 0px;
	padding: 10px 15px !important;
	line-height:20px;
	background-color: #379424;
	margin-top:0px !important;
	border:0px;
    box-shadow:none;
}
#menu.open-mob .btn-menu,#menu.open .btn-menu,.btn-menu:hover,.btn-menu:focus,.btn-menu.focus, .btn-menu:active, .btn-menu.active, .btn-menu.disabled, .btn-menu[disabled] {
	background-color: #379424;
	border-color: #379424;
	color:#ffffff;
}
#menu.open-mob .dropdown-toggle,
#menu.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#menu.open-mob .btn,
#menu.open .btn{
	border-radius:0px;
}
#menu .btn > .fa.fa-bars {
	margin-right: 10px;
	font-size: 18px;
	margin-left: 5px;
}
#menu #menu-list{
	width: 100%;
	border-color:#e7e7e7;
	border-style:solid;
	border-width:0px 1px 1px 1px;
	border-radius:0px;
	padding: 0;
	margin:0px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.15);
}
#menu #menu-list li.dropdown {
	position:unset;
}
#menu #menu-list > li > a{
	padding: 8px 18px 8px 12px;
	white-space: normal;
	position:relative;
	border-left:2px solid #fff;
}
#menu #menu-list .item-name.himg {padding-left:30px;}
#menu #menu-list .item-dop-info.himg {padding-left:30px;}*
#menu #menu-list .item-dop-info {
	font-size:11px;
	color:#999;
}

#menu #menu-list > li + li{border-top: 1px solid #eee;}
#menu #menu-list:hover{display: block;}


@media (max-width: 992px) {
#menu #menu-list > li > a{border-left:0px;}
.open-mob > .dropdown-menu {display: block;}
#menu #menu-list .nsmenu-haschild{
	width:100%;
	clear:both;
	float:none;
	padding:0px;
}
#menu #menu-list > li .dropdown-menu-manufacturer .manuf-res{
	font-size: 12px;
	color: #000000;
	margin-left:15px;
}
#menu #menu-list > li > a{
	padding: 10px 12px;
	white-space: normal;
	position:relative;
}
#menu #menu-list > li .cat-label{right: 45px;}
#menu #menu-list > li .parent-link .cat-label{right: 5px;}
#menu #menu-list > li .parent-link{margin-right: 39px;clear: none;}
#menu #menu-list > li .dropdown-menu-simple{display:none;}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a{
	padding: 10px 25px;
	position: relative;
	white-space: normal;
	display:block;
	border-top:1px solid #eee;
	font-weight:400;
}
#menu #menu-list.dropdown-menu a.nsmenu-parent-title{
	display:block;
	padding:10px 25px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#menu #menu-list.dropdown-menu a.nsmenu-parent-title:hover,
#menu #menu-list.dropdown-menu li > a:hover{
	background:#f5f5f5 !important;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li a:hover {
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li a:hover {
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li > a{
	padding: 10px 45px;
	position: relative;
	white-space: normal;
	display:block;
	position:relative;
	color:#949494
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li > a{
	padding: 10px 35px;
	position: relative;
	white-space: normal;
	display:block;
	position:relative;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li:last-child,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li:last-child{
	border-bottom:0px !important;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li:first-child,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li:first-child{
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li + li{
	border-bottom:1px solid #eee;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li:last-child{
	border-bottom:0px;
}
#menu #menu-list > li .dropdown-menu-full,
#menu #menu-list > li .dropdown-menu-full-image{
	display:none;
}
#menu #menu-list .dropdown-menu-full-image .nsmenu-parent-block .nsmenu-parent-img{
	display:none;
}
#menu #menu-list > li .dropdown-menu-full .menu-add-html,
#menu #menu-list > li .dropdown-menu-full-image .menu-add-html{
	display:none;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-haschild > li > a,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-haschild > li > a{
	padding: 10px 45px;
	position: relative;
	white-space: normal;
	display:block;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	font-weight: 600;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-haschild > li a:hover,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-haschild > li a:hover {
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-ischild > li > a,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild > li > a{
	padding: 10px 35px;
	position: relative;
	white-space: normal;
	display:block;
	position:relative;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-ischild > li:first-child,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild > li:first-child,
#menu #menu-list > li .dropdown-menu-full .nsmenu-ischild > li + li,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild > li + li{
	border-bottom:1px solid #eee;
}
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild > li:last-child,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild > li:last-child{
	border-bottom:0px;
}
#menu #menu-list > li .fa-level-up,
#menu #menu-list > li .dropdown-menu-html-block,
#menu #menu-list > li .dropdown-menu-information .menu-add-html,
#menu #menu-list > li .dropdown-menu-information .menu-add-html,
#menu #menu-list > li .dropdown-menu-manufacturer .menu-add-html,
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-parent-img {
	display:none;
}
#menu #menu-list > li .dropdown-menu-manufacturer{
	display:none;
	padding:15px;
}
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-haschild > li > a.nsmenu-parent-title{
	padding: 10px 45px;
	position: relative;
	white-space: normal;
	display:block;
	border-bottom:1px solid #eee;
	font-weight:400;
}
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-haschild > li:hover > a.nsmenu-parent-title {
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-information{display:none;}
#menu #menu-list > li .dropdown-menu-product .nsmenu-haschild > li:first-child,
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-haschild > li:first-child,
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild > li:first-child{
	border-top:1px solid #eee;
}
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild > li > a{
	padding: 10px 25px;
	position: relative;
	white-space: normal;
	display:block;
	border-bottom:1px solid #eee;
	font-weight:400;
}
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild > li:hover > a{
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-product{display:none;}
#menu #menu-list > li .dropdown-menu-product .nsmenu-haschild > li > a.nsmenu-parent-title{
	padding: 10px 25px;
	position: relative;
	white-space: normal;
	display:block;
	border-bottom:1px solid #eee;
	font-weight:400;
}
#menu #menu-list > li .dropdown-menu-product .nsmenu-haschild > li:hover > a{
	background:#f5f5f5;
}
#menu #menu-list > li .dropdown-menu-product .nsmenu-parent-img,
#menu #menu-list > li .dropdown-menu-product .price {
	display:none;
}
#menu #menu-list > li .toggle-child{
	display: block;
	float: right;
	width: 39px;
	padding: 10px 0;
	text-align: center;
	cursor:pointer;
	position:absolute;
	right:0px;
}
#menu .dropdown-menu li:hover .toggle-child,
#menu .dropdown-menu li:hover .with-child{
	background-color: #f5f5f5 !important;
	color: #2B8CDB;
}
#menu #menu-list > li .toggle-child.open{
	background: #f5f5f5;
}
#menu #menu-list > li:first-child .toggle-child{
	padding: 10px 0 10px;
}
#menu #menu-list > li .toggle-child .fa{float: none;}
#menu #menu-list > li .toggle-child .minus{display: none;}
#menu #menu-list > li .toggle-child.open .minus{display: inline;}
#menu #menu-list > li .toggle-child.open .plus{display: none;}
#menu #menu-list .arrow{display:none;}
#menu #menu-list  > li:hover a.parent-link{
	background: #f5f5f5;
	color: #2B8CDB;
}
#menu #menu-list  > li:hover a.dropdown-toggle{
	background: #f5f5f5;
	color: #2B8CDB;
}
#menu-header-open {
	display:none;
}
}


@media (min-width: 992px) {
.nsmenu-block{display:block;}
#menu #menu-list > li.menu-open > .ns-dd {display:block !important;}
.menu-open-2level > .list-unstyled.nsmenu-ischild.nsmenu-ischild-simple {display: block !important;}
.menu-open-4level > .list-unstyled.child_4level_simple {display: block !important;}
#menu:hover #menu-list {display:block;}
#menu .cat-label{right: 10px;}
#menu #menu-list > li .parent-link .cat-label{right: 10px;top:-6px;}
#menu #menu-list > li .toggle-child{display:none;}
#menu #menu-list > li .parent-link {clear: none;margin-right: 0px;}
#menu:hover + #maskMenuHC{display: block;}
#menu:hover{z-index: 1039;}
#menu + #maskMenuHC{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.3);
	z-index: 1038;
}
#menu.open + #maskMenuHC{
	display: block;
}
#menu.open{
	z-index: 1039;
}
#menu #menu-list .arrow{
	color: #999;
	font-size:18px;
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-10px;
}
#menu #menu-list > li > a.parent-link:hover,
#menu #menu-list > li > a.parent-link.hover{
	background: #f7f7f7;
	border-left:3px solid #43b02a;
	margin-left:-1px;
}
#menu #menu-list > li > a.dropdown-toggle:hover{
	background: #f7f7f7;
	border-left:3px solid #43b02a;
	margin-left:-1px;
}
#menu #menu-list > li > a.parent-link:hover:after,
#menu #menu-list > li > a.parent-link.hover:after{
	content: "";
	position: absolute;
	right: -2px;
	top:  0;
	height: 100%;
	width: 3px;
	background: transparent;
	z-index: 1009;
}
#menu #menu-list > li > a:hover,
#menu #menu-list > li > a.hover{
	background: #f7f7f7;
	border-left:3px solid #43b02a;
	margin-left:-1px;
}
#menu #menu-list > li.menu-open > .ns-dd.dropdown-menu-manufacturer,
#menu #menu-list > li.menu-open > .ns-dd.dropdown-menu-simple {
	display: block;
}
#menu #menu-list > li .dropdown-menu-simple{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top: 0;
	min-height: 100%;
	border: 1px solid #e7e7e7;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	border-top:0px;
	border-radius:0px;
	padding: 0;
	margin-top:0px;
	margin-left:0px;
	box-sizing: content-box;
	z-index: -1;
	width:100%;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a{
	padding: 8px 20px;
	position: relative;
	white-space: normal;
	display:block;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a:hover .arrow,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a.hover .arrow{
  transform: rotate(-90deg);
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a:hover,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a.hover{
	background:#f7f7f7;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li + li{
	border-top: 1px solid #d7d7d7;
}
#menu #menu-list > li .dropdown-menu-simple .menu-open-2level .nsmenu-ischild-simple {
	display: block;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top:0;
	min-height: 100%;
	border:1px solid #e7e7e7;
	border-top:0px;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	border-radius: 0px;
	padding:0;
	margin-top:0px;
	margin-left:0px;
	box-sizing:content-box;
	z-index:-1;
	width:100%;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-issubchild:hover > .nsmenu-ischild-simple{
	display: block;
}
#menu #menu-list > li >.dropdown-menu-simple .nsmenu-issubchild > a:hover:after,
#menu #menu-list > li >.dropdown-menu-simple .nsmenu-issubchild > a.hover:after{
	content: "";
	position: absolute;
	right: -2px;
	top:  0;
	height: 100%;
	width: 3px;
	background: transparent;
	z-index: 1009;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li > a{
	padding: 8px 20px;
	position: relative;
	white-space: normal;
	display:block;
	position:relative;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li > a:hover,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li > a.hover{
	background:#f7f7f7;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li.ischild_4level_simple > a:hover:after,
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li.ischild_4level_simple > a.hover:after{
	content: "";
	position: absolute;
	right: -2px;
	top:  0;
	height: 100%;
	width: 3px;
	background: transparent;
	z-index: 1009;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li + li{
	border-top: 1px solid #eee;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top:0;
	min-height: 100%;
	border: 1px solid #e7e7e7;
	border-top: 0px;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	border-radius: 0px;
	padding:0;
	margin-top: 0px;
	margin-left:0px;
	box-sizing:content-box;
	z-index:-1;
	width:100%;
}
#menu #menu-list > li .dropdown-menu-simple .nsmenu-ischild-simple > li:hover > .child_4level_simple{
	display: block;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li > a{
	padding: 8px 20px;
	position: relative;
	white-space: normal;
	display:block;
	position:relative;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li > a:hover{
	background:#f7f7f7;
}
#menu #menu-list > li .dropdown-menu-simple .child_4level_simple > li + li{
	border-top: 1px solid #eee;
}
#menu #menu-list > li.menu-open > .ns-dd{
	display: block;
}
#menu #menu-list .showmore-c {
	position: absolute;
	bottom: 0;
	left: 16px;
	right:0px;
	text-align:left;
}
#menu #menu-list .showmore-c a {
	font-weight: 600;
	font-size:13px;
}
#menu #menu-list .showmore-c a:hover {
	color:#379424 !important;
}
#menu #menu-list > li .dropdown-menu-full,
#menu #menu-list > li .dropdown-menu-full-image{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top: 0;
	min-height: 100%;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	margin-top: 0px;
	margin-left:0px;
	box-sizing: content-box;
	z-index: -1;
	border-radius:0px
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-haschild,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-haschild {
	padding:5px 10px;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-parent-block,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-parent-block {
	padding-bottom: 18px;
	margin-top: 10px;
	vertical-align: top;
	position:relative;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-parent-title,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-parent-title {
	display: block;
	font-weight: 600;
	padding: 5px;
	text-decoration: none;
	position:relative;
	text-align:left;
	height:35px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items:center;
}
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-parent-img {
	display:block;
	text-align:left;
	margin-bottom:1px;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-parent-title:hover,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-parent-title:hover {
	background:transparent;
	text-decoration:underline;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-ischild li a,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild li a {
	font-size:12px;
	color:#444;
	padding:1px 6px;
	position:relative;
	display:block;
}
#menu #menu-list > li .dropdown-menu-full .nsmenu-ischild li a:hover,
#menu #menu-list > li .dropdown-menu-full-image .nsmenu-ischild li a:hover {
	text-decoration:underline;
}
#menu #menu-list > li .menu-add-html {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
#menu #menu-list > li .menu-add-html img {
	max-width:100%;
}
#menu #menu-list > li .dropdown-menu-html-block{
	display: none;
	background: #fff;
	position: absolute;
	left: 100%;
	top: 0;
	min-height: 100%;
	border: 1px solid #e7e7e7;
	border-radius:0px;
	padding: 0;
	margin-top:0px;
	margin-left:0px;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	box-sizing: content-box;
	z-index: 1008;
	width:auto;
	padding:15px;
	overflow:auto;
}
#menu #menu-list > li.menu-open > .dropdown-menu-manufacturer{
	display:block;
}
#menu #menu-list > li .dropdown-menu-manufacturer{
	display: none;
	background: #fff;
	position: absolute;
	left: 100%;
	top: 0;
	min-height:100%;
	border: 1px solid #e7e7e7;
	border-top:0px;
	border-radius:0px;
	padding: 0;
	box-shadow:1px 2px 2px rgba(0, 0, 0, 0.10);
	margin-top:0px;
	margin-left:0px;
	box-sizing: content-box;
	z-index: -1;
}
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-parent-block {
	margin-bottom: 0px;
	margin-top: 10px;
	text-align: center;
}
#menu #menu-list > li .dropdown-menu-manufacturer .name-manuf-a {
	font-size:16px;
	color:#000000;
}
#menu #menu-list > li .dropdown-menu-manufacturer .manuf-res a {
	font-size:12px;
	color:#000000;
}
#menu #menu-list > li .dropdown-menu-manufacturer a.nsmenu-parent-img {
	padding: 0 !important;
}
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-parent-title {
	display: block;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
}
#menu #menu-list > li .dropdown-menu-manufacturer .nsmenu-parent-title:hover {
	text-decoration: underline;
}
#menu #menu-list > li.menu-open > .dropdown-menu-information{
	display:block;
}
#menu #menu-list > li .dropdown-menu-information{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top: 0;
	min-height:100%;
	border: 1px solid #e7e7e7;
	border-top:0px;
	border-radius:0px;
	padding: 0;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.10);
	margin-top:0px;
	margin-left:0px;
	box-sizing: content-box;
	z-index: -1;
}
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild {
	padding:0px;
}
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild li > a{
	padding: 8px 20px;
	position: relative;
	white-space: normal;
	display:block;
}
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild li > a:hover,
#menu #menu-list > li .dropdown-menu-information .nsmenu-haschild li > a.hover{
	background:#f7f7f7;
}
#menu #menu-list > li  .dropdown-menu-information .nsmenu-haschild li + li{
	border-top: 1px solid #e7e7e7;
}
#menu #menu-list > li.menu-open > .dropdown-menu-product{
	display: block;
}
#menu #menu-list > li .dropdown-menu-product{
	display: none;
	background: #fff;
	position: absolute;
	left:100%;
	top: 0;
	min-height: 100%;
	border: 1px solid #e7e7e7;
	border-top:0px;
	border-radius:0px;
	padding: 0;
	margin-top:0px;
	margin-left:0px;
	box-sizing: content-box;
	z-index: -1;
}
#menu #menu-list > li  .dropdown-menu-product .nsmenu-parent-block {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
}
#menu #menu-list > li  .dropdown-menu-product a.nsmenu-parent-img {
	padding: 0 !important;
}
#menu #menu-list > li  .dropdown-menu-product a.nsmenu-parent-img img {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ececec;
	border-radius: 3px;
	padding:2px;
}
#menu #menu-list > li  .dropdown-menu-product .nsmenu-parent-title {
	display: block;
	padding: 5px;
	text-decoration: none;
}
#menu #menu-list .box-col-3{width: 325.2%;}
#menu #menu-list .box-col-2{width: 220%;}
#menu #menu-list .box-col-1{width: 110%;}
}
.tooltip-manufacturer-inner {
  max-width: 200px;
  padding: 3px 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #ffffff !important;
  border-radius: 100%;
  border:1px solid #e2e2e2;
  overflow:hidden;
}
.tooltip-manufacturer.in {
  filter: alpha(opacity=100);
  opacity: 1;
}

@media (max-width: 991px) {
header.pad-top {padding-top: 45px;border: 1px solid #e7e7e7;padding-bottom: 5px;}
	.no-scroll-html {height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 1038;display: block;-moz-user-select: none;touch-action: pan-y;}
}
#top-fixed-mobile #menu .text-category {display:none;}
#top-fixed-mobile{
	left: 0 ;
	margin: 0 ;
	padding:0px;
	position: fixed ;
	top: 0;
	width: 100% ;
	z-index: 1005;
	background:#333c46;
	height:40px;
}
@media (max-width: 768px) {
#top-fixed-mobile .container {padding:0px;}
}
.box-flex-fix {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.box-fm-r {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap:nowrap;
	padding-right: 10px;
}
#mob-info-block .header-nav-links {
	position: relative;
	top: 0;
	display: block;
	width: 100%;
	box-shadow: none;
	border: 0px;
}
#mob-info-block .header-nav-links .btn-link {
	color:#000000;
	font-size:14px;
	padding-top:0px;
}
#top-fixed-mobile .mob-m-i {
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	position:unset;
}
#top-fixed-mobile .btn-compare-h, #top-fixed-mobile .btn-wishlist-h{
	height: 40px;
	width: 40px;
	padding:0px;
}
#top-fixed-mobile #wishlist-total span, #top-fixed-mobile #compare-total span {
	top:3px;
	padding:0px 4px;
	min-width:15px;
	line-height:16px;
}
#top-fixed-mobile .btn-compare-h i, #top-fixed-mobile .btn-wishlist-h i{
	font-size: 22px;
	color:#ffffff;
	line-height: 40px;
}
#top-fixed-mobile .mob-m-i.account_fix_mob{
	position:relative;
}
#top-fixed-mobile .mob-m-i.account_fix_mob .dropdown-menu{
	left:50%;
	top:100%;
	transform: translate(-50%, 0%);
}
#top-fixed-mobile .mob-m-i > a{
	display:block;
	cursor:pointer;
}
#top-fixed-mobile .mob-m-i > a i{
	font-size: 22px;
	line-height: 40px;
	color:#ffffff;
}
#top-fixed-mobile .mob-m-i > i{
	font-size: 22px;
	line-height: 40px;
	color:#ffffff;
}
#top-fixed-mobile #menu.open #menu-list{
	background-color: #fff;
	height: calc(100% - 50px);
	bottom: 0;
	left: 0;
	right: 0;
	top: 50px;
	min-height: calc(100% - 50px);
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	z-index: 9999;
}
#top-fixed-mobile #menu #menu-list.active-fix.collapsing,
#top-fixed-mobile #menu #menu-list.active-fix.collapse.in{
	background-color: #fff;
	height: calc(100% - 50px);
	bottom: 0;
	left: 0;
	right: 0;
	top: 50px;
	min-height: calc(100% - 50px);
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	z-index: 9999;
}
#top-fixed-mobile #menu,
#top-fixed-mobile #cart{
	margin-bottom:0px;
	position:unset;
}
#top-fixed-mobile #menu {
  position: unset;
  box-shadow:none;
}
#top-fixed-mobile #menu .btn {
	padding:0px;
	background:none !important;
	border:0px;
	box-shadow:none;
	text-align:center;
}
#top-fixed-mobile #menu .btn > .fa.fa-bars {
	float: none;
	line-height: 50px;
	font-size: 26px;
}
#top-fixed-mobile #menu.open-mob .btn, #top-fixed-mobile #menu.open .btn {border-radius:4px 4px 0px 0px;}
#top-fixed-mobile #search-fixed-top {display:none;}
#top-fixed-mobile .cart_fix_mob #cart .products .text_product,
#top-fixed-mobile .cart_fix_mob #cart .prices,
#top-fixed-mobile .cart_fix_mob #cart > .btn > .car-down {display: none;}
#top-fixed-mobile .cart_fix_mob #cart > .btn {
	padding:0px 0px;
	background: transparent;
	border-color:transparent;
	box-shadow:none;
}
#top-fixed-mobile .shopping-cart {padding: 0px 0;display: inline-block;}
#top-fixed-mobile .cart_fix_mob #cart > .btn .cart-total {display: inline;margin:0px;}
#top-fixed-mobile .cart_fix_mob #cart > .btn .cart-total .products b {
	top: 3px;
	padding: 0px 4px;
	line-height: 16px;
	right:1px;
	font-size:12px;
}
#top-fixed-mobile .cart_fix_mob #cart > .btn .shop-bag {
  color: #ffffff;
  font-size: 22px;
  line-height: 40px;
  text-shadow:none;
}
#top-fixed-mobile .cart_fix_mob #cart .products, #top-fixed-mobile .cart_fix_mob #cart .prices {margin:0px;}
#top-fixed-mobile .cart_fix_mob #cart .dropdown-menu {
border-radius: 0;
float: none;
left: 10px !important;
margin-top: -1px;
min-width: 150px;
right: 10px !important;
margin-top: 3px;
width: calc(100% - 20px;)
}
#top-fixed-mobile .account-header .caret {display:none;}
#top-fixed-mobile .account-header .btn-link {padding:3px 8px 0;}
#top-fixed-mobile .account-header .dropdown-menu {margin-top:8px;}
#top-fixed-mobile .search_fix_mob #search-fixed-top.show-search-fix-mob {
	left: 0;
	position: absolute;
	right: 0;
	top: 42px;
	opacity: 1;
	display: block;
}
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.col-xs-1-5 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-1-5 {width: 20%;float: left;}}
@media (min-width: 992px) {.col-md-1-5 {width: 20%;float: left;}}
@media (min-width: 1200px) {.col-lg-1-5 {width: 20%;float: left;}}
@media (min-width: 1200px) {#content.col-sm-8.col-md-9 .col-lg-1-5 {width: 25%;float: left;}}
@media (min-width: 1200px) {.sw-80 .col-lg-1-5 {width: 25%;float: left;}}

#mob-search-block{
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1010;
	display: none;
	width: 100%;
}

#mob-info-block {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	left: -100%;
	overflow-y:auto;
	-webkit-transition: left 250ms ease;
	-moz-transition: left 250ms ease;
	-ms-transition: left 250ms ease;
	-o-transition: left 250ms ease;
	transition: left 250ms ease;
	height: 100%;
	z-index: 1010;
	background: #fff;
	-webkit-overflow-scrolling: touch;
}
#mob-info-block.active {left: 0px;}
.mob-block-title {
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	font-size:14px;
	color: #ffffff;
	padding-left: 20px;
	background: #333c46;
	z-index:1010;
}
#mob-search-block-inner {padding: 5px 10px 5px 10px;box-shadow: 0px 2px 4px rgba(0,0,0,0.1);}
#mob-search-block-inner .btn-search-select {padding:5px 5px 5px 10px !important;}
#mob-search-block-inner #search .dropdown-menu.autosearch {margin-top:0px;}
#mob-info-block-inner {padding: 10px;}
#mob-info-block-inner #language button,
#mob-info-block-inner #currency button {color:#000000;font-size:14px;}
#mob-info-block-inner #language button span.hidden-xs,
#mob-info-block-inner #currency button span.hidden-xs {display:inline-block !important;}
#mob-info-block-inner .btn-link:focus, #mob-info-block-inner .btn-link:hover {color: #000000;text-decoration: none;background-color: transparent;}
#mob-info-block-inner #currency .dropdown-menu, #mob-info-block-inner #language .dropdown-menu {left: 0px;right: auto;min-width: 100%;}
#mob-info-block-inner ul.navbar-nav {margin: 0px;}
#mob-info-block-inner ul.navbar-nav li .btn {color:#000000;}
.mob-block-close {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 36px;
	color: #ffffff;
	line-height: 40px;
	height: 40px;
	width: 40px;
	background:#43b02a;
	border: 0px;
	cursor:pointer;
}
.fix-close-menu {
    position: fixed !important;
    left:-300px;
    top:0px;
	background:#333c46;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -ms-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
    z-index: 9999;
}
#menu-mobile-ns.navmenu-fixed-left.active .fix-close-menu {
    left:0px;
}
.page-no-scroll-bg { display: none; height: 100%; width: 100%; z-index: 999; background-color: rgba(0, 0, 0, 0.25); outline: none !important; position: fixed; left: 0; top: 0; -webkit-backface-visibility: hidden; }
.page-no-scroll-bg.canvas-slid { display:block; }
#menu-mobile-ns .fix-close-menu .close-menu {
    color:#fff;
    background-color: #333c46;
    display: block;
    padding: 10px 10px 10px 15px;
    width:300px;
    z-index:1010;
    text-align: left;
    border: none;
    outline: none;
    text-transform:uppercase; }

#menu-mobile-ns .navbar-nav > li > button > i {
	font-size: 18px;
	margin-top: 0px;
	width: 40px;
	text-align: center;
	height: 40px;
	position: absolute;
	right: 0;
	background:#43b02a;
	top: 0px;
	line-height: 39px;
}
#menu-mobile-ns.menu-collapse-down > .collapse { width: 100%; border-color: #ddd; padding: 0; margin: 0px; }
#menu-mobile-ns.menu-collapse-down > .collapsing,
#menu-mobile-ns.menu-collapse-down > .collapse.in { background-color: #fff; height: calc(100% - 40px); bottom: 0; left: 0; right: 0; top: 40px; min-height: calc(100% - 40px); overflow-x: hidden !important; overflow-y: scroll !important; position: fixed; z-index: 9999; display:block !important; }
#menu-mobile-ns.active { padding: 0; display: block; overflow-x: hidden;visibility:visible; }
#menu-mobile-ns.menu-collapse-down .navbar-type2-collapse { padding: 0; display: none !important; }
#menu-mobile-ns.navmenu-fixed-left .navbar-nav {margin:39px 0px 0px}
#menu-mobile-ns.menu-collapse-down .navbar-nav {margin:0px;}
#menu-mobile-ns .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
#menu-mobile-ns .nav > li > a { position: relative; display: block; padding: 10px 40px 10px 10px; color:#333; }
#menu-mobile-ns .item-name.himg {padding-left: 30px;}
#menu-mobile-ns .item-dop-info.himg {padding-left: 30px;}
#menu-mobile-ns .item-dop-info {
	font-size: 11px;
	color: #999;
}
#menu-mobile-ns .nsmenu-thumb {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -13px;
}
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li > a{ position: relative; display: block; padding: 10px 40px 10px 20px; color:#333; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a,
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li > .mob-submenu-list-3lev a { color: #333; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a:hover,
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li > .mob-submenu-list-3lev a:hover { color: #2B8CDB; }
#menu-mobile-ns .navbar-nav,
#menu-mobile-ns .navbar-nav > li { float: none; position: relative; }
#menu-mobile-ns .navbar-nav > li { border-bottom: 1px solid #d9d9d9; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a > .show-sc-mobile,
#menu-mobile-ns .navbar-nav > li a > .show-sc-mobile {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;font-size: 12px; height: 100%; width: 40px; text-align: center; border-left: 1px solid #d9d9d9; padding: 0; position: absolute; top: 0; right: 0; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a > .show-sc-mobile > i,
#menu-mobile-ns .navbar-nav > li a > .show-sc-mobile > i { font-size:11px; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a > .show-sc-mobile.open-sc-mobile > i.plus,
#menu-mobile-ns .navbar-nav > li a > .show-sc-mobile.open-sc-mobile > i.plus { transform:rotate(45deg); -webkit-transition: rotate 0.3s ease 0s; -moz-transition: rotate 0.3s ease 0s; -ms-transition: rotate 0.3s ease 0s; -o-transition: rotate 0.3s ease 0s; transition: rotate 0.3s ease 0s; font-size:12px; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li a > .show-sc-mobile > i,
#menu-mobile-ns .navbar-nav > li a > .show-sc-mobile > i {line-height: 40px; text-align: center; width:40px; }
#menu-mobile-ns .nav > li > .close-mobmenu:focus,
#menu-mobile-ns .nav > li > .close-mobmenu:hover,
#menu-mobile-ns .nav > li > a:focus,
#menu-mobile-ns .nav > li > a:hover { background-color: #eee; }
#menu-mobile-ns .nav > li a > .show-sc-mobile:focus,
#menu-mobile-ns .nav > li a > .show-sc-mobile:hover{ background-color: #fff; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list,
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li > .mob-submenu-list-3lev { background-color: #fff; }
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li,
#menu-mobile-ns .navbar-nav > li > .mob-submenu-list li > .mob-submenu-list-3lev li{ float: none; position: relative; border-top: 1px solid #ddd; }
#menu-mobile-ns .cat-label{font-size:10px;
	text-shadow:2px 3px 3px rgba(0, 0, 0, 0.25);
	font-weight: 600;
	border-radius: 2px;
	line-height: 1;
	padding:3px;
	right: 43px;
	top: 0px;
	z-index: 4;
	position: absolute;
	text-transform: uppercase; }
#menu-mobile-ns .mobile-menu-icon{ float: left; margin:-2px 5px -2px 0; }
#top-fixed-mobile .btn.btn-menu-mobile { padding: 0px; background: #43b02a; border: 0px; border-radius:0px;box-shadow: none; text-align: center; width:50px; }
#top-fixed-mobile .btn.btn-menu-mobile > .fa { float: none; line-height: 40px; font-size: 22px; color:#fff; }
#menu-mobile-ns.navmenu-fixed-left {
	background:#fff;
	z-index:1040;
	border-right:1px solid #eee;
	box-shadow:0px 2px 3px rgba(0,0,0,0.15)
}
#menu-mobile-ns.navmenu-fixed-left {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	left: -300px;
	overflow-y:auto;
	-webkit-transition: left 250ms ease;
	-moz-transition: left 250ms ease;
	-ms-transition: left 250ms ease;
	-o-transition: left 250ms ease;
	transition: left 250ms ease;
}
#menu-mobile-ns.navmenu-fixed-left.active {left: 0px;}

@media (max-width: 992px) {
	#menu #search .btn-search-select {height:28px;padding:2px 3px 2px 10px !important;}
	#menu {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: start;align-items: center;}
	#menu .btn-menu {height: 40px;padding: 8px 15px;margin-right:10px;width:50px;}
	#searchtop {width: calc(100% - 60px);}
	#menu .btn-menu i.fa.fa-bars{font-size:24px;margin:0px;}
	#menu #search {margin-bottom:0px;}
	#menu #search .input-lg {height:34px;}
	#menu #search .btn-search {height:28px;width:48px;padding:1px;margin-right:3px;}
	#menu #search .dropdown-menu.autosearch {border-radius: 0 0 3px 3px;margin-top: 3px;width:100%;left: 0px;right: 5px;}
	#menu #search .btn-search .fa.fa-search{font-size:18px;}
}
@media (max-width: 798px) {
	#menu #search .dropdown-menu.autosearch {width: calc(100% + 50px);left: -50px;}
	#menu .btn-menu .text-category{display:none;}
	#menu .btn-menu{height:40px;width:50px;padding:8px;}
	#menu .btn-menu i {margin:0px;}
	#menu #search .categories {display:none;}
	#menu #search .btn-search {border-radius:3px !important;}
	#menu #search .btn-search {height:28px;width:28px;}
	#searchtop {width: calc(100% - 50px);}
}
#menu-mobile-ns .nsmenu-thumb.hitem-icon {display: none;}