.stickers-ns {
	right: 5px;
	position: absolute;
	top: 5px;
	transition: all 0.15s ease 0s;
	z-index:10;
}
.stickers-ns .fa{
	font-size: 12px;
	vertical-align: middle;
}
.stickers-ns > .sticker-ns {
	margin-bottom: 4px;
}
.sticker-ns {
	clear: right;
	float: right;
	font-size: 12px;
	font-weight: 600;
	padding:0px 5px;
	position: relative;
	border-radius:3px;
	line-height:18px;
}
.product-item:hover .stickers-ns, .product-block:hover .stickers-ns , .thumbnails:hover .stickers-ns{
	opacity:0;
	transition: all 0.15s  ease 0s;
	z-index:-1;
}
.product-thumb:hover .stickers-ns{
	opacity:0;
	transition: all 0.15s  ease 0s;
	z-index:-1;
}
.stickers-skidka {
    text-align: left;
    margin-bottom: 2px;
    max-height: 20px;
    flex-basis: 100%;
}
.sticker-ns.procent-skidka {
	background: red;
	color: #fff;
	font-weight: 600;
	z-index: 10;
	transition: all 0.15s  ease 0s;
    float:none;
    display: inline-block;
}
.tooltip-inner {
  background-color: #3f4e5d;
  color:#fff;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #3f4e5d;
  bottom:1px;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #3f4e5d;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #3f4e5d;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #3f4e5d;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #3f4e5d;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #3f4e5d;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #3f4e5d;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #3f4e5d;
}